@using EncuestasUABC.Utilidades;
@using EncuestasUABC.Enumerador;

@{
    ViewData["Title"] = "Encuestas Creadas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <button type="button" class="btn btn-primary bmd-btn-fab float-right" data-toggle="tooltip" data-placement="bottom" title="Crear Encuesta" id="btn_CrearEncuesta">
            <i class="material-icons">add</i>
        </button>
        <h1 class="mt-md-2">@ViewData["Title"]</h1>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="table_Creadas">
                <thead>
                    <tr>
                        <th style="width:40px">Activa</th>
                        <th>Fecha</th>
                        <th>Nombre</th>
                        <th>Carrera</th>
                        <th style="width:40px"></th>
                        <th style="width:40px"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<partial name="~/Views/Encuestas/PartialViews/_ModalEncuestaCrear.cshtml" model="new EncuestasUABC.Models.ViewModels.EncuestaViewModel()" />
<partial name="~/Views/Encuestas/PartialViews/_ModalEncuestaEliminar.cshtml" />
<partial name="~/Views/Encuestas/PartialViews/_ModalEncuestaRestaurar.cshtml" />

<script type="text/javascript">
    var enum_EstatusEncuesta=@(EnumHelper.EnumToString<EstatusEncuestaId>())
</script>

<script src="~/js/Encuestas/Creadas.js"></script>


