@using EncuestasUABC.Models;
@model Encuesta
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input hidden asp-for="Id" />

<div class="card">
    <div class="card-header">
        <a asp-action="Creadas" class="btn btn-primary bmd-btn-fab float-left mr-4" data-toggle="tooltip" data-placement="bottom" title="Regresar">
            <i class="material-icons">keyboard_backspace</i>
        </a>
        <h1 class="mt-md-2">@ViewData["Title"] </h1>
    </div>
    <div class="card-body">
        <div class="row" style="display:none" id="div_EditarNombreEncuesta">
            <div class="col-10">
                <input type="text" id="txt_NombreEncuesta" class="form-control form-lg" style="font-size:2.5rem" />
            </div>
            <div class="col-2 form-inline text-center">
                <span class="btn-group-sm m-1">
                    <button type="button" class="btn btn-success bmd-btn-fab" data-toggle="tooltip" data-placement="bottom" title="Guardar nombre de encuesta" id="btn_GuardarNombreEncuesta">
                        <i class="material-icons">check</i>
                    </button>
                </span>
                <span class="btn-group-sm m-1">
                    <button type="button" class="btn btn-danger bmd-btn-fab" data-toggle="tooltip" data-placement="bottom" title="Cancelar edición de nombre" id="btn_CancelarEditarNombreEncuesta">
                        <i class="material-icons">clear</i>
                    </button>
                </span>
            </div>
        </div>
        <h1 style="cursor:pointer" id="h1_NombreEncuesta">
            <span></span>
            <i class="material-icons text-primary" style="display:none" title="Editar nombre de encuesta">edit</i>
        </h1>
       
        <hr />
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="table_Creadas">
                <thead>
                    <tr>
                        <th style="width:40px">Activa</th>
                        <th>Fecha</th>
                        <th>Nombre</th>
                        <th>Carrera</th>
                        <th style="width:40px"></th>
                        <th style="width:40px"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script type="text/javascript" src="~/js/Encuestas/Editar.js"></script>

