
@{
    ViewData["Title"] = "Encuestas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="ibox p-4">
        <div class="ibox-head">
            <div class="ibox-title">
                <h1 class="page-title">@ViewData["Title"]</h1>
            </div>
        </div>
        <div class="ibox-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="table_Usuarios">
                    <thead>
                        <tr>
                            <th>Correo</th>
                            <th>Nombre</th>
                            <th>Apellido Paterno</th>
                            <th>Apellido Materno</th>
                            <th>Rol</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
