@using EncuestasUABC.Models.ViewModels;
@model EncuestaViewModel
@{
    ViewData["Title"] = "Vista Previa";
    Layout = null;
}

<div class="card">
    <div class="card-header">
        <h3>@Model.Descripcion</h3>

    </div>
    <div class="card-body">
        
    </div>
</div>