@using EncuestasUABC.ViewModels
@model CambiarContrasenaViewModel
@{
    Layout = null;
}
<div class="row">
    <div class="row col-md-6">
        <div class="col-12">
            <div class="form-group">
                <label asp-for="Password" class="bmd-label-floating"></label>
                <input asp-for="Password" class="form-control" id="txt_contrasena" type="password">
                <span asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="bmd-label-floating"></label>
                <input asp-for="ConfirmPassword" class="form-control" id="txt_confirmarContrasena" type="password">
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="alert alert-warning div_CaracteristicasContraAlert">
            La contraseña debe tener las siguientes características:
            <ul>
                <li><i id="Logitud" class="fa fa-check-circle d-none"></i> La longitud debe ser por lo menos de<strong> 6 carácteres</strong></li>
                <li><i id="Mayusculas" class="fa fa-check-circle d-none"></i> Debe contener <strong>Mayúsculas</strong></li>
                <li><i id="Minusculas" class="fa fa-check-circle d-none"></i> Debe contener <strong>Minúsculas</strong></li>
                <li><i id="Numeros" class="fa fa-check-circle d-none"></i> Debe contener <strong>un Número</strong></li>
                <li><i id="Caract" class="fa fa-check-circle d-none"></i> Debe contener <strong>un caracter especial</strong></li>
                <li class="font-weight-bold"><i id="ContrasNoCoinciden" class="fa fa-check-circle d-none"></i> <strong>Las contraseñas coinciden</strong></li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/Usuarios/ValidarContrasena.js"></script>