@model ApplicationUserViewModel;
@{
    Layout = null;
}

<div class="row" id="div_Egresado">
    <input hidden asp-for="Egresado.Id" />
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="Egresado.PeriodoIngreso" class="bmd-label-floating"></label>
            <input asp-for="Egresado.PeriodoIngreso" class="form-control mask-periodo" type="text">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="Egresado.PeriodoEgreso" class="bmd-label-floating"></label>
            <input asp-for="Egresado.PeriodoEgreso" class="form-control mask-periodo" type="text">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label asp-for="Egresado.Correo" class="bmd-label-floating"></label>
            <input asp-for="Egresado.Correo" class="form-control" type="text">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="Egresado.CorreoAlterno" class="bmd-label-floating"></label>
            <input asp-for="Egresado.CorreoAlterno" class="form-control" type="text">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Egresado.Facebook" class="bmd-label-floating"></label>
            <input asp-for="Egresado.Facebook" class="form-control" type="text">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label asp-for="Egresado.Otro" class="bmd-label-floating"></label>
            <input asp-for="Egresado.Otro" class="form-control" type="text">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label asp-for="Egresado.Telefono" class="bmd-label-floating"></label>
            <input asp-for="Egresado.Telefono" class="form-control mask-phone" type="text">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label asp-for="Egresado.Celular" class="bmd-label-floating"></label>
            <input asp-for="Egresado.Celular" class="form-control mask-phone" type="text">
        </div>
    </div>
</div>
