@model ApplicationUser;
@{
    Layout = null;
}
    <div class="row" id="div_Maestro">
        <input hidden asp-for="UsuarioMaestro.MaestroId" />
        <div class="col-md-3 form-group">
            <label>Número de Empleado</label>
            <input asp-for="UsuarioMaestro.Maestro.NumeroEmpleado" class="form-control" type="text">
        </div>
        <div class="col-md-2 form-group">
            <label>Correo</label>
            <input asp-for="UsuarioMaestro.Maestro.Correo" class="form-control" type="text">
        </div>

        <div class="col-sm-3 form-group">
            <label>Correo Alterno</label>
            <input asp-for="UsuarioMaestro.Maestro.CorreoAlterno" class="form-control" type="text">
        </div>
        <div class="col-md-3 form-group">
            <label>Teléfono</label>
            <input asp-for="UsuarioMaestro.Maestro.Telefono" class="form-control mask-phone" type="text">
        </div>
    </div>
