@using EncuestasUABC.ViewModels
@{
    Layout = null;
}

<!-- Modal -->
<div class="modal fade" id="modal_CambiarContrasena" tabindex="-1" role="dialog" aria-labelledby="modal_CambiarContrasena" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form asp-action="CambiarContrasena" onsubmit="return ContrasenaValida()" class="modal-content" id="form_CambiarContrasena">
            <div class="modal-header">
                <h5 class="modal-title">Cambiar Contraseña</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input hidden name="email" id="txt_EmailContrasena" />
                <partial name="~/Views/Usuarios/PartialViews/_FormCambiarContrasena.cshtml" model="new CambiarContrasenaViewModel()" />
            </div>
            <div class="modal-footer">
                <span class="btn-group-sm">
                    <button type="button" class="btn btn-danger bmd-btn-fab btn-raised mr-2" data-dismiss="modal" data-toggle="tooltip" data-placement="bottom" title="Cancelar">
                        <i class="material-icons">close</i>
                    </button>
                </span>
                <span class="btn-group-sm ml-1">
                    <button type="submit" class="btn btn-success bmd-btn-fab btn-raised" data-toggle="tooltip" data-placement="bottom" title="Aceptar">
                        <i class="material-icons">check</i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>


