@using EncuestasUABC.ViewModels
@{
    Layout = null;
}

<!-- Modal -->
<div class="modal fade" id="modal_CambiarContrasena" tabindex="-1" role="dialog" aria-labelledby="modal_CambiarContrasena" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form asp-action="CambiarContrasena" onsubmit="return ContrasenaValida()" class="modal-content" id="form_CambiarContrasena">
            <div class="modal-header">
                <h5 class="modal-title">Cambiar Contraseña</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input hidden name="email" id="txt_EmailContrasena" />
                <partial name="~/Views/Usuarios/PartialViews/_FormCambiarContrasena.cshtml" model="new CambiarContrasenaViewModel()" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-raised" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success btn-raised ml-2">Cambiar Contraseña</button>
            </div>
        </form>
    </div>
</div>


