@using EncuestasUABC.ViewModels;
@using EncuestasUABC.Enumerador;
@using EncuestasUABC.Utilidades;

@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="~/css/Login/Login.css" />
    <!-- Material Design -->
    <link rel="stylesheet" href="~/lib/material-design/css/material-design.css" />
    <link rel="stylesheet" href="~/lib/material-design/css/material-icons.css" />

    <!--Jquery-->
    <script type="text/javascript" src="~/lib/jquery/jquery.js"></script>
</head>
<body>
    <div class="form-row d-sm-flex align-content-md-center justify-content-center" style="height:100%">
        <div class="form-row col-sm-11 col-lg-10 fondo-login" style="min-height:60%">
            <input hidden type="checkbox" value="1" id="check_MenuDisplay" />
            <div class="col-md-12 col-lg-6 panel-info-login text-light p-5 mt-5" id="div_Panel1">
                <div class="pl-5 pr-5">
                    <h3 class="text-center">¿Tienes problemas para ingresar o algún otro comentario?</h3>
                    <p class="text-justify h5">
                        En caso de presentar problemas para ingresar a la plataforma,
                        favor de enviar los siguientes datos y nos pondremos en contacto
                        contigo una vez que haya quedado arreglado el problema.<br /><br />
                        De igual manera, si tienes alguna duda o sugerencia sobre el
                        funcionamiento de la plataforma, no dudes en informarnos cuanto
                        antes, cada opinión es importante para nosotros.
                    </p>
                    <div class="form-group text-center mt-5">
                        <button class="btn btn-lg btn-dark btn_CambiarPanel">
                            Volver al login
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-6 text-light panel-info-login text-light p-5 mt-5" id="div_Panel2">
                <div class="pl-5 pr-5">
                    <h3 class="text-center">Encuestas UABC</h3>
                    <p class="text-justify h5">
                        Esta plataforma fue hecha por alumnos de la carrera de
                        <strong> Lic. en Sistemas Computacionales(LSC)</strong> para
                        cumplir la necesidad de realizar encuestas de cualquier
                        tipo a la comunidad estudiantil.<br /><br />
                        <strong>Encuestas UABC</strong> es propiedad de la coordinación
                        de LSC, cualquier duda, aclaración o problema con la plataforma,
                        favor de enviarnos sus comentarios haciendo click en el siguiente botón.
                    </p>
                    <div class="form-group text-center mt-5">
                        <button class="btn btn-lg btn-dark btn_CambiarPanel">
                            Enviar comentarios
                        </button>
                    </div>
                </div>
            </div>

            <div class="white-login">
                <form asp-action="Login" method="post" id="form_login">
                    <div class="form-row p-4">
                        <div class="col-12">
                            <h1 class="text-primary mt-2 text-center text-pr">
                                <img src="~/img/EncuestasUABCLogo.svg" style="width:100px" />
                                Encuestas UABC
                            </h1>
                        </div>
                        <div class="col-12 mt-5">
                            <h2 class="text-center" style="color:#11784c;">Iniciar sesión</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            @if (TempData["InvalidLogin"] != null)
                            {
                                <div class="alert alert-danger mt-3">
                                    @TempData["InvalidLogin"].ToString()
                                </div>
                            }
                            @if (TempData["InfoLogin"] != null)
                            {
                                <div class="alert alert-success mt-3">
                                    @TempData["InfoLogin"].ToString()
                                </div>
                            }
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Email" class="bmd-label-floating"></label>
                                <input asp-for="Email" class="form-control form-control-lg">
                                <span asp-validation-for="Email"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Password" class="bmd-label-floating"></label>
                                <input asp-for="Password" class="form-control form-control-lg">
                                <span asp-validation-for="Password"></span>
                            </div>
                        </div>
                        <div class="form-group text-center fixed-bottom mb-5">
                            <button type="submit" class="btn btn-primary btn-raised btn-lg">Iniciar sesión</button>
                        </div>
                    </div>
                </form>

                <form asp-action="Login" class="form-group" method="post" id="form_comentarios" style="display:none">
                    <div class="form-row p-4">
                        <div class="col-12 mt-5">
                            <h2 class="text-center" style="color:#11784c;">Envianos tus comentarios o sugerencias</h2>
                        </div>
                        <div class="col-12 pl-5 pr-5 mt-5">
                            <div class="input-data">
                                <input name="Email" required>
                                <div class="underline">
                                </div>
                                <label>Correo</label>
                            </div>
                            <div class="input-data mt-5">
                                <input name="Matricula" required>
                                <div class="underline">
                                </div>
                                <label>Matrícula</label>
                            </div>

                            <div class="input-data mt-5">
                                <input name="Nombre" required>
                                <div class="underline">
                                </div>
                                <label>Nombre Completo</label>
                            </div>

                            <div class="input-data mt-5">
                                <textarea name="Nombre" required style="height:100px"></textarea>
                                <label>Comentarios</label>
                            </div>
                            <div class="form-group text-center fixed-bottom mb-5">
                                <button type="submit" class="btn_Login">Enviar comentarios</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="~/js/Login/Login.js"></script>
    <!--PLUGINS-->
    <script type="text/javascript" src="~/lib/DataTables/datatables.js"></script>
    <script type="text/javascript" src="~/lib/DataTables/datatables.bootstrap4.js"></script>
    <script type="text/javascript" src="~/lib/popper/umd/popper.js"></script>
    <script type="text/javascript" src="~/lib/material-design/js/material-design.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-notify/bootstrap-notify.js"></script>
    <script type="text/javascript" src="~/lib/cookiejs/cookiejs.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation/jquery.validate.min.js"></script>

    <!--JS Site-->
    <script type="text/javascript" src="~/js/site.js"></script>
    <script type="text/javascript" src="~/js/Menu.js"></script>

    <!--JS Material Design-->
    <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>

    <!--Vista de Alertas de la página-->
    <partial name="~/Views/Shared/_Alerts.cshtml" />

    <!--Enumerador para obtener los tipos de alerta en toda la página-->
    <script type="text/javascript">
        var enum_MessageAlertType = @(EnumHelper.EnumToString<MessageAlertType>());
    </script>

</body>
</html>