@using EncuestasUABC.ViewModels;
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="~/css/Login/Login.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <style type="text/css">

        .btn {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="form-row d-sm-flex align-content-md-center justify-content-center" style="height:100%">
        <div class="form-row col-sm-11 col-lg-10 fondo-login" style="min-height:60%">
            <input hidden type="checkbox" value="1" id="check_MenuDisplay" />
            <div class="col-md-12 col-lg-6 panel-info-login text-light p-5 mt-5" id="div_Panel1">
                <div class="pl-5 pr-5">
                    <h3 class="text-center">¿Tienes problemas para ingresar o algún otro comentario?</h3>
                    <p class="text-justify h5">
                        En caso de presentar problemas para ingresar a la plataforma,
                        favor de enviar los siguientes datos y nos pondremos en contacto
                        contigo una vez que haya quedado arreglado el problema.<br /><br />
                        De igual manera, si tienes alguna duda o sugerencia sobre el
                        funcionamiento de la plataforma, no dudes en informarnos cuanto
                        antes, cada opinión es importante para nosotros.
                    </p>
                    <div class="form-group text-center mt-5">
                        <button class="btn btn-lg btn-dark btn_CambiarPanel">
                            Volver al login
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-6 text-light panel-info-login text-light p-5 mt-5" id="div_Panel2">
                <div class="pl-5 pr-5">
                    <h3 class="text-center">Encuestas UABC</h3>
                    <p class="text-justify h5">
                        Esta plataforma fue hecha por alumnos de la carrera de
                        <strong> Lic. en Sistemas Computacionales(LSC)</strong> para
                        cumplir la necesidad de realizar encuestas de cualquier
                        tipo a la comunidad estudiantil.<br /><br />
                        <strong>Encuestas UABC</strong> es propiedad de la coordinación
                        de LSC, cualquier duda, aclaración o problema con la plataforma,
                        favor de enviarnos sus comentarios haciendo click en el siguiente botón.
                    </p>
                    <div class="form-group text-center mt-5">
                        <button class="btn btn-lg btn-dark btn_CambiarPanel">
                            Enviar comentarios
                        </button>
                    </div>
                </div>
            </div>

            <div class="white-login">
                <form asp-action="Login" class="form-group" method="post" id="form_login">
                    <div class="form-row p-4">
                        <div class="col-12">
                            <div style="text-align: center">
                                <img src="~/img/EncuestaUABC_Logo.png" width="300">
                            </div>
                        </div>
                        <div class="col-12 mt-5">
                            <h2 class="text-center" style="color:#11784c;">Iniciar sesión</h2>
                        </div>
                        <div class="col-12 pl-5 pr-5 mt-5">
                            <div class="input-data">
                                <input asp-for="Email" required>
                                <div class="underline">
                                </div>
                                <label>Correo</label>
                            </div>
                            <div class="input-data mt-5">
                                <input asp-for="Password" required>
                                <div class="underline">
                                </div>
                                <label>Contraseña</label>
                            </div>

                            <div class="checkbox mt-2">
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe" />
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                </label>
                            </div>
                            @if (TempData["InvalidLogin"] != null)
                            {
                                <div class="alert alert-danger mt-3">
                                    @TempData["InvalidLogin"].ToString()
                                </div>
                            }
                            @if (TempData["InfoLogin"] != null)
                            {
                                <div class="alert alert-success mt-3">
                                    @TempData["InfoLogin"].ToString()
                                </div>
                            }
                            <div class="form-group text-center fixed-bottom mb-5">
                                <button type="submit" class="btn_Login">Iniciar sesión</button>
                            </div>
                        </div>

                    </div>
                </form>

                <form asp-action="Login" class="form-group" method="post" id="form_comentarios" style="display:none">
                    <div class="form-row p-4">
                        <div class="col-12 mt-5">
                            <h2 class="text-center" style="color:#11784c;">Envianos tus comentarios o sugerencias</h2>
                        </div>
                        <div class="col-12 pl-5 pr-5 mt-5">
                            <div class="input-data">
                                <input name="Email" required>
                                <div class="underline">
                                </div>
                                <label>Correo</label>
                            </div>
                            <div class="input-data mt-5">
                                <input name="Matricula" required>
                                <div class="underline">
                                </div>
                                <label>Matrícula</label>
                            </div>

                            <div class="input-data mt-5">
                                <input name="Nombre" required>
                                <div class="underline">
                                </div>
                                <label>Nombre Completo</label>
                            </div>

                            <div class="input-data mt-5">
                                <textarea name="Nombre" required style="height:100px"></textarea>
                                <label>Comentarios</label>
                            </div>
                            <div class="form-group text-center fixed-bottom mb-5">
                                <button type="submit" class="btn_Login">Enviar comentarios</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="~/js/Login/Login.js"></script>
</body>
</html>