
@{
    ViewData["Title"] = "Aiuda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="ibox p-4">
        <div class="ibox-head">
            <div class="ibox-title">
                <h1 class="page-title">@ViewData["Title"]</h1>
            </div>
        </div>
        <div class="ibox-body">

        </div>
    </div>
