@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="form-group">
        <img src="~/img/EncuestaUABC_Logo.png" alt="" />
    </div>
    <h1 class="display-4">Bienvenido, </h1>
</div>
