@using EncuestasUABC.Models;
@using EncuestasUABC.Utilidades;
@using EncuestasUABC.Enumerador;
@model ApplicationUserViewModel
@{
    ViewData["Title"] = "Crear Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <form asp-action="Create" id="form_Usuario">
        <div class="card-header">
            <a asp-action="Index" class="btn btn-primary bmd-btn-fab float-left mr-4" data-toggle="tooltip" data-placement="bottom" title="Regresar">
                <i class="material-icons">keyboard_backspace</i>
            </a>
            <h1 class="mt-2">@ViewData["Title"]</h1>
        </div>
        <div class="card-body">
            @await Html.PartialAsync("~/Views/Usuarios/PartialViews/_FormUsuario.cshtml", Model)
            @await Html.PartialAsync("~/Views/Usuarios/PartialViews/_FormAlumno.cshtml", Model)
            @await Html.PartialAsync("~/Views/Usuarios/PartialViews/_FormEgresado.cshtml", Model)
            @await Html.PartialAsync("~/Views/Usuarios/PartialViews/_FormMaestro.cshtml", Model)
        </div>
        <div class="card-footer text-center">
            <button type="button" class="btn btn-primary btn-raised" id="btn_Guardar">Guardar</button>
        </div>
    </form>
</div>
<script type="text/javascript" src="~/js/Usuarios/FormUsuario.js"></script>
<script type="text/javascript">
    var enum_Roles=@(EnumHelper.EnumToString<RolId>())
</script>



