@using EncuestasUABC.Models;
@using Newtonsoft.Json;
@using EncuestasUABC.Utilidades;
@using EncuestasUABC.Enumerador;
@using EncuestasUABC.Constantes;
@{
    ViewData["Title"] = "Listado de Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/lib/DataTables/datatables.min.js"></script>
<link href="~/lib/DataTables/datatables.min.css" rel="stylesheet" />
<div class="ibox p-4">
    <div class="ibox-head">
        <div class="ibox-title">
            <h1 class="page-title">@ViewData["Title"]</h1>
        </div>
        <a class="btn btn-primary" href="@Url.Action("Create","Usuarios")">Agregar</a>
    </div>
    <div class="ibox-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="table_Usuarios">
                <thead>
                    <tr>
                        <th>Correo</th>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Rol</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<partial name="~/Views/Usuarios/PartialViews/_ModalEliminarUsuario.cshtml" />
<script type="text/javascript" src="~/js/Usuarios/Index.js"></script>

