
@{
    Layout = null;
}

<link rel="stylesheet" type="text/css" href="~/lib/summernote/dist/summernote.css" />
<div class="modal fade" id="modal_CrearEncuesta" tabindex="-1" role="dialog" aria-labelledby="modal_CrearEncuesta" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form asp-action="Crear" class="modal-content" id="form_CrearEncuesta">
            <div class="modal-header">
                <h5 class="modal-title">Crear Encuesta</h5>
                <span type="button" class="btn" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                </span>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="col-md-12">
                        <label class="control-label">Nombre</label>
                        <input name="Nombre" class="form-control" id="txt_Nombre" />
                    </div>
                </div>
                <div class="form-row mt-2">
                    <div class="col-md-12 form-group">
                        <label class="control-label">Carrera</label><br />
                        <select name="CarreraId" class="form-control" id="select_Carrera">
                            <option value="">Seleccionar</option>
                        </select>
                    </div>
                </div>
                <div class="form-group mt-2">
                    <label class="control-label">Descripción</label>
                    <textarea name="Descripcion" class="form-control" id="txtArea_Descripcion"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" id="btn_GuardarNombreDescripcion">Guardar</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#txtArea_Descripcion').summernote({
            toolbar: [
                ['undo', ['undo', 'redo']],
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['fontsize', ['fontsize']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['table', ['table']],
                ['fullscreen', ['fullscreen']]
            ],
            height: 300,
            lang: "es-ES"
        });
        $("#select_Campus").change(function () {
            var campusId = $(this).val();
            $("#select_UnidadAcademica").empty();
            $("#select_Carrera").empty();
            CargarUnidadesAcademicas(campusId);
            CargarCarreras(0);
        });

        $("#select_UnidadAcademica").change(function () {
            var unidadAcademicaId = $(this).val();
            $("#select_Carrera").empty();
            CargarCarreras(unidadAcademicaId);
        });

        $("#btn_CambiarContrasena").click(function () {
            var email = $(this).data("email");
            $("#txt_EmailContrasena").val(email);
            $("#modal_CambiarContrasena").modal("show");
        });

        $("#form_CrearEncuesta").validate({
            rules: {
                Nombre: "required",
                CarreraId: "required",
            },
            messages: {
                Nombre: "El campo Nombre es obligatorio",
                CarreraId: "El campo Carrera es obligatorio",
            },
            errorPlacement: function (error, element) {
                if (element.hasClass('select2') && element.next('.select2-container').length) {
                    error.insertAfter(element.next('.select2-container'));
                } 
                else {
                    error.insertAfter(element);
                }
            }
        });
    });

    function formatState(state) {
        if (!state.id) {
            return state.text;
        }
        var baseUrl = "/user/pages/images/flags";
        var $state = $(
            '<span><img src="' + baseUrl + '/' + state.element.value.toLowerCase() + '.png" class="img-flag" /> ' + state.text + '</span>'
        );
        return $state;
    };

    $(".js-example-templating").select2({
        templateResult: formatState
    });
</script>

<script type="text/javascript" src="~/lib/summernote/dist/summernote.js"></script>
