@model EncuestasUABC.Models.ViewModels.EncuestaPreguntaViewModel
@{
    Layout = null;
}

<!-- Modal -->
<div class="modal fade" id="modal_PreguntaCrear" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form asp-action="Delete" class="modal-content" id="form_Pregunta">
            <div class="modal-header">
                <span class="btn-group-sm">
                    <button type="button" class="btn btn-primary bmd-btn-fab" style="display:none" id="btn_RegresarPreguntaAgregar" data-toggle="tooltip" data-placement="bottom" title="Regresar">
                        <i class="material-icons">navigate_before</i>
                    </button>
                </span>
                <h5 class="modal-title ml-2" id="h5_ModalTituloCrearPregunta">Elige el tipo de pregunta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <input class="position-absolute invisible" asp-for="EncuestaId" />
                <input class="position-absolute invisible" asp-for="EncuestaSeccionId" />
                <input class="position-absolute invisible" asp-for="TipoPreguntaId" />
                <input class="position-absolute invisible" asp-for="Id" id="PreguntaId"/>
            </div>
            <div class="modal-body">
                <div id="div_tiposPregunta">
                    <div class="row d-flex justify-content-center">
                        <div class="col-6 col-md-4 mt-4">
                            <button type="button" class="btn btn-primary btn-lg btn_PreguntaAbierta" style="min-width:100%;min-height:150px">
                                <i class="material-icons md-48">
                                    text_format
                                </i><br />
                                <span>Abierta</span>
                            </button>
                        </div>
                        <div class="col-6 col-md-4 mt-4">
                            <button type="button" class="btn btn-primary btn-lg btn_RespuestaUnica" style="min-width: 100%;min-height: 150px">
                                <i class="material-icons md-36">
                                    radio_button_checked
                                </i><br />
                                <span>Respuesta única</span>
                            </button>
                        </div>
                        <div class="col-6 col-md-4 mt-4">
                            <button type="button" class="btn btn-primary btn-lg btn_RespuestaMultiple" style="min-width:100%;min-height:150px">
                                <i class="material-icons md-36">
                                    check_box
                                </i><br />
                                <span>Múltiples respuestas</span>
                            </button>
                        </div>
                        <div class="col-6 col-md-4 mt-4">
                            <button type="button" class="btn btn-primary btn-lg" style="min-width:100%;min-height:150px">
                                <i class="material-icons md-48">
                                    read_more
                                </i><br />
                                <span>Condicional</span>
                            </button>
                        </div>
                        <div class="col-6 col-md-4 mt-4">
                            <button type="button" class="btn btn-primary btn-lg" style="min-width:100%;min-height:150px">
                                <i class="material-icons md-48">
                                    view_comfy
                                </i><br />
                                <span>Matriz</span>
                            </button>
                        </div>
                        <div class="col-6 col-md-4 mt-4">
                            <button type="button" class="btn btn-primary btn-lg btn_RespuestaSelectList" style="min-width:100%;min-height:150px">
                                <i class="material-icons md-48">
                                    view_list
                                </i><br />
                                <span>Select List</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="div_PreguntaDescripcion" style="display:none">
                    <div class="form-group">
                        <label asp-for="Descripcion" class="bmd-label-floating">Descripción</label>
                        <input asp-for="Descripcion" class="form-control" id="txt_DescripcionPregunta" />
                        <span asp-validation-for="Descripcion"></span>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input asp-for="Obligatoria" type="checkbox" checked="@Model.Obligatoria" id="check_Obligatoria" value="true"> Pregunta obligatoria
                        </label>
                    </div>
                </div>
                <div id="div_PreguntaRadioCheck" style="display:none">
                    <h5 class="text-center">Opciones</h5>
                    <table class="table" id="table_opciones">
                        <thead>
                            <tr>
                                <th style="width:40px"></th>
                                <th>Descripción</th>
                                <th style="width:40px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="3">
                                    <h6 class="text-center">No se han agregado opciones</h6>
                                </td>
                            </tr>                            
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    <input type="text" class="form-control" placeholder="Descripción" id="txt_DescripcionOpcion"/>
                                    <span class="text-danger" id="span_DescripcionMsg"></span>
                                </td>
                                <td style="width:40px">
                                    <span class="btn-group-sm">
                                        <button type="button" class="btn btn-primary bmd-btn-fab" id="btn_AgregarOpcion" data-toggle="tooltip" data-placement="bottom" title="Agregar opción">
                                            <i class="material-icons">add</i>
                                        </button>
                                    </span>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-raised mr-2" style="display:none" data-dismiss="modal" id="btn_CancelarModalPregunta">Cancelar</button>
                <button type="button" class="btn btn-success btn-raised" style="display:none" id="btn_GuardarPreguntaAgregar">Confirmar</button>
            </div>
        </form>
    </div>
</div>
